div {
    width: 400px;
    font: 20px bold;
    padding: 25px;
    background-color: #80808045;
    margin: 30px;
    outline: 20px solid #80808045;
}

.red {
    border-left: 10px solid red;
    
}
.hide {
    visibility: hidden;
}

.green {
    border-left: 10px solid green;

}