body {
    counter-reset: numbering;
}

.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    display: grid;
    grid-template: 15% 1fr / repeat(3,1fr) ;

  }

  div {
    margin: 5px;
    background-color: #13889f;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
  
  }

 div div::before {
    counter-increment: numbering;
    content: "Element " counter(numbering);
    display: flex;
    justify-content: center;
    align-content: center;
    
  }

