div {
    width: 800px;
    margin: 15px;
    float: left;
    text-align: center;
    background-color: #eee;
}

.one {
    width: calc(100% - 30px);
}

.two {
    width: calc((100% - 90px) / 3);
}

.three {
    width: calc((100% - 60px) / 2);
}

.four {
    width: calc((100% - 120px) / 4);
}