table {
    width: 700px;
    background-color: rgb(238, 238, 238);
    margin: auto;
    font: bold;
    font-family: sans-serif;
    text-align: center;
    border-collapse: collapse;
}

thead th {
    background-color: rgb(88, 87, 87);
    color: white;
    border-collapse: separate;
    border: 2px solid white;
  
}

td {
    padding: 10px;
    margin: 10px;
    border: 2px solid white;
}

.blue {
    background-color: red;
    padding: 3px;
    margin: 4px;
}

.red {
    background-color: blue;
    padding: 3px;
}