div {
    width: 100px;
    height: 100px;
    margin: 20px;
    position: absolute;
}

.blue {
    background-color: blue;
    z-index: 2;
}

.black {
    margin-top: 30px;
    background-color: black;
}

.green {
    background-color: green;
    margin-top: 30px;
    margin-left: 35px;
    z-index: 3;
}

.red {
    background-color: red;
    margin-top: 45px;
    margin-left: 50px;
    z-index: 4;
}