div {
    visibility: hidden;
    position: relative;
}
div:after {
    visibility: visible;
    position: absolute;
    margin: 20px auto;
    width: 400px;
    height: 60px;
    line-height: 60px;
    font-size: 20px !important;
    font-weight: bold;
    font-family: sans-serif;
    color: black !important;
    background-color: #eee !important;
    text-align: center;
    border: none !important;
    content: "Elzero";
}